* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #414141;
  background-color: #cccccc;
}

.text {
  text-align: center;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 25px;
}

.texto {
  text-align: center;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 25px;
  font-weight: bold;
}

.form {
    display: block;
    text-align: center;
}

.io {
  background-color: #ffffff;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #000000;
  width: 350px;
  height: 25px;
  box-sizing: border-box;
  margin: 15px auto;
  border-radius: 4px;
  padding: 5px;
  font-size: 15px;

  text-align: center;
}

.out {
  background-color: #f2f2f2;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 2px solid #000000;
  width: 250px;
  height: 30px;
  box-sizing: border-box;
  margin: 15px auto;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;

  text-align: center;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 350px;
}

.spacer {
  padding: 30px;
}

input[type=text]:focus {
    outline: none;
}
