---
---

@import "{{ site.theme }}";

.page-header {
    color: #fff;
    text-align: center;
    background-color: #4d4d4d;
    background-image: linear-gradient(120deg, #4d4d4d, #e2e2e2)
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 1rem 1rem
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 1rem 1rem
    }
}

@media screen and (max-width: 42em) {
    .page-header {
        padding: 1rem 1rem
    }
}

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255,255,255,1.2);
    background: none;
    border: none;
    vertical-align: middle;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s
}

    .btn:hover {
        color: rgba(255,255,255,0.8);
        text-decoration: none;
        background-color: rgba(255,255,255,0.2);
        border-color: rgba(255,255,255,0.3)
    }

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #4d4d4d
}


